<footer>
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h4>Free over the phone quote</h4>
            </div>
            <div class="col v-bar"></div>
            <div class="col">
                <h4>Location</h4>
            </div>
            <div class="col">
                <h4>Hours</h4>
            </div>
            <div class="col v-bar"></div>
            <div class="col">
                <h4>Payment</h4>
            </div>
        </div>
    </div>
</footer>