// Global Colors
$mt-one: #1661DA; //blue
$mt-two: #1355BF;
$mt-three: #1049A4;
$mt-four: #0E3D88;
$mt-five: #0B316D;


$secondary-theme: #DA8F16; //orange
$st-two: #A46B10;
$st-three: #6D480B;

$white: rgba(255,255,255); 
$black: rgba(0, 0, 0, 0.336);
$gray-light: #BFBFBF;
$gray-dark: #606060;


/* Font Styling */
$font-dark: #333; 
