<app-navbar></app-navbar>
<app-slider></app-slider>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-2 showcard"> 
            <a class="card1" href="#">
                <h3>Flat Fee</h3>
                <p class="small">Card description with lots of great facts and interesting details.</p>
                <div class="go-corner go-bg-1" href="#">
                    <div class="go-arrow">→</div>
                </div>
            </a>
        </div>
        <div class="col-lg-2 showcard"> 
            <a class="card2" href="#">
                <h3 class="wrap-text">Data Backup Solutions</h3>
                <p class="small">Card description with lots of great facts and interesting details.</p>
                <div class="go-corner go-bg-2" href="#">
                    <div class="go-arrow">→</div>
                </div>
            </a>
        </div>
        <div class="col-lg-2 showcard"> 
            <a class="card3" href="#">
                <h3>VoIP / Phone Solutions</h3>
                <p class="small">Card description with lots of great facts and interesting details.</p>
                <div class="go-corner go-bg-3" href="#">
                    <div class="go-arrow">→</div>
                </div>
            </a>
        </div>
        <div class="col-lg-2 showcard"> 
            <a class="card4" href="#">
                <h3>Network Security</h3>
                <p class="small">Card description with lots of great facts and interesting details.</p>
                <div class="go-corner go-bg-4" href="#">
                    <div class="go-arrow">→</div>
                </div>
            </a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12 text-center">
            <h4>Website examples:</h4>
            <ul>
                <li><a href='https://compuerhouseinc.business.site/' target="_blank">Computer House</a></li>
                <li><a href='https://www.capitalcitycomputers.us/' target="_blank">Capital City Computers</a></li>
                <li><a href='https://www.sublimecomp.com/' target="_blank">Sublime Computer Services</a></li>
            </ul>
        </div>
    </div>
</div>
<app-footer></app-footer>