@import "../../../assets/css/bootstrap";
@import "../../../assets/css/colors";
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Bootstrap custom
.container-fluid{
  margin: 1rem 0;
}

li{
  list-style-type: none;
}

// Mission Statement
.MS-content{
  text-align: center;
}

.ad-space{
  height: 3rem;
  width: 100%;
  background-color: $black;
  margin: .5rem 0;
}

// Credit for the cards: https://codepen.io/andrewsims/pen/mQoYwz
.go-bg-1{
    background-color: $mt-one;
}
.card1{
    color: $mt-one;
}

.go-bg-2{
    background-color: $mt-two;
}
.card2{
    color: $mt-two;
}
.go-bg-3{
    background-color: $mt-three;
}
.card3{
    color: $mt-three;
}
.go-bg-4{
    background-color: $mt-four
}
.card4{
    color: $mt-four;
}

.go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 3.2rem;
    height: 3.2rem;
    overflow: hidden;
    top: 0;
    right: 0;
    border-radius: 0 .4rem 0 3.2rem;
  }
  
  .go-arrow {
    margin-top: -.4rem;
    margin-right: -.4rem;
    color: white;
    font-family: courier, sans;
  }
.showcard{
  display: flex;
  text-align: center;
  justify-content: center;
}
.card1, .card2, .card3, .card4 {
    display: block;
    position: relative;
    min-height: 12rem;
    background-color: #f2f8f9;
    border-radius: .4rem;
    padding: 1.2rem 1.4rem;
    // margin: .2rem;
    text-decoration: none;
    overflow: hidden;
    border: .1rem solid #f2f8f9;
  
    &:hover {
      transition: all 0.2s ease-out;
      box-shadow: 0rem .4rem .8rem rgba(38, 38, 38, 0.2);
      top: -.4rem;
      border: .1rem solid #cccccc;
      background-color: white;
    }
  
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      background: #00838d;
      min-height: 3.2rem;
      width: 3.2rem;
      border-radius: 3.2rem;
      transform: scale(2);
      transform-origin: 50% 50%;
      transition: transform 0.15s ease-out;
    }
  
    &:hover:before {
      transform: scale(2.15);
    }
  }